.leaflet-icon {
  background: url(`react-frontend-dev-portfolio\public\images\icons\leaflet.png`);
  // font-size: 180%;
  // color: white;

  text-align: center;
  position: relative;
  display: block;
  /* Other styles here */
}
